@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
ul{
    list-style: none;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 76%;
    margin: 0 auto;
}
body{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}
header{
    padding-top: 20px;
    padding-bottom: 100px;
}
.header-logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}
.links-list{
    display: flex;
    gap: 20px;
}
.link a, .hero-sub{
    text-decoration: none;
    font-size: 18px;
    color:#E5E7Eb;
}
.hero-container{
    display: flex;
    align-items: flex-start;
    gap: 40px;
    padding-bottom: 100px;
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 10px;
}
.hero-main{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.placeholder-image{
    max-width: 53%;
    aspect-ratio: 16 / 7;
}
.sign-up-btn{
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 42px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
.second-part{
    background-color: white;
}
.random-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 60%;
    padding-top: 50px;
    padding-bottom: 120px;
}
.info-header{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}
.cards{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.card{
    display: flex;
    flex-direction: column;
}
.card-img{
    width: 100%;
    aspect-ratio: 1/1;
    border: 5px solid #3882f6;
    border-radius: 10px;
}
.card-img-subtext{
    font-size: 18px;
    color: #4b5563;
}
