*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: rgb(235, 235, 235);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: burlywood;
}
.calculator{
    width: 480px;
    background-color: rgb(43, 41, 41);
    border: 20px rgb(43, 41, 41) solid;
    border-radius: 18px;
    gap: 120px;
}
.display{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 120px;
    background-color: rgb(89, 107, 61);
    border-radius: 20px;
    margin-bottom: 20px;
}
h1{
    font-size: 90px;
 }
.btn-grid{
    gap: 10px;
    display: grid;
}
.row{
    display: grid;
    gap: 8px;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.row button{
    padding: 20px;
    width: 100%;
    font-size: 28px;
    background-color: rgb(70, 70, 70);
}
.first.row button{
    background-color: rgb(209, 147, 30);
}
.fifth.row{
    grid-template-columns: 215px 1fr 1fr;
}

.row button.operation{
    background-color: rgb(24, 24, 24);
}

